.right-side {
    flex: 1;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    max-height: 100%;
}

.welcome-text {
    margin-bottom: 15px;
}

.welcome-text h2 {
    font-size: 28px;
    color: #00aa6c;
    margin-bottom: 8px;
}

.welcome-text p {
    color: #00aa6c;
    font-size: 16px;
}

.form-group {
    margin-bottom: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #334155;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 12px;
    border: 1px solid #dae3ee;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    outline: none;
    border-color: #009760;
}

.form-group .helptext {
    font-size: 12px;
    color: #666;
    margin-top: -8px;
    margin-bottom: 8px;
    display: block;
}

.submit-button {
    background-color: #00aa6c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    margin-left: auto;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
}

.submit-button:hover {
    background-color: #029e65;
}

.login-request {
    display: flex;
    align-items: center; /* căn giữa theo trục dọc */
    margin-top: 15px;
    gap: 5px;
}

.question-login {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

.login-link {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}